<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабороторна робота 1
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Виконав Нестеренко Дмитро, КН-31
    </ion-title>
    <ion-title>
      студент групи КН-31, Варіант-5
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Завдання 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card >
    <ion-header collapse="condense">
        <ion-title size="large">Завдання 3</ion-title>
    </ion-header>
    <ion-card-content>
      <p class="p_bg">Згенерувати матрицю
        розміром NxN. <br> Знайти
        добуток кожного
        стовпчику матриці. <br>
        Виокремити
        стовпчики за
        допомогою кольору</p>
      <ion-item color="medium">
        <ion-label position="floating">Введіть N - розмір матриці</ion-label>
        <ion-input type="number" id="N" #InputN  [(ngModel)]="matrixSize"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="generateMatrix()" >Розрахунок</ion-button>
      <ion-item>
        <p>Результат обчислення </p>
        <ion-grid>
          <ion-row *ngFor="let i of matrixSize">
            <ion-col *ngFor="let j of i" [ngStyle]="{ 'background-color': i % 2 == 0 ? 'lightgrey' : 'lightblue'" } >{{j}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
